@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.page-404-heading {
  font-size: 8rem;
}

.page-404-subheading {
  font-size: 2rem;
}

.page-404-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.page-404-button {
  margin-top: 1em;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: var(--primary-colour);
  font-size: 1.1rem;
}
