/* Style for main box */
.Box {
  /* background-color: #f5f5f5; */
  border-radius: 10px;
  padding: 80px 40px;
  justify-content: last baseline;
  text-align: center;
  outline-color: white;
  /* outline: white solid 10px; */


}
.internal-box{
    flex-wrap: wrap;
    text-align: start;
}

